{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <p>{{ question.question_text }}</p>
        <a href="{% url 'polls:results' question.id %}">Result</a>
        {% if question.can_vote %}
            <a href="{% url 'polls:detail' question.id %}">Vote</a>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}